# Space Missions:

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing the Dataset
data = pd.read_excel(r"‪D:/DS/SpaceMissions.csv")

OSError: [Errno 22] Invalid argument: '\u202aD:/DS/SpaceMissions.csv'

In [ ]:
data.shape

In [ ]:
data.head()

In [ ]:
df = data.drop(['Launch Date','Launch Time', 'Launch Site'],axis=1)
df.head()

In [ ]:
df.isnull().any()

In [ ]:
plt.figure(figsize=(15,10))
ax = sns.countplot(df['Company'])
for container in ax.containers:
    ax.bar_label(container)
plt.ylabel('No. of satellites launched')
plt.title('No. of satellite launched by each company')

In [ ]:
# Mission Status for total satellite launched
ax = sns.countplot(df['Mission Status'])
for container in ax.containers:
    ax.bar_label(container)
plt.ylabel('No. of satellites launched')
plt.title('Mission Status')

In [ ]:
# Mission status for each company

print('Mission status of SpaceX:\n',df['Mission Status'][df['Company']=='SpaceX'].value_counts())

print('Mission status of Boeing:\n',df['Mission Status'][df['Company']=='Boeing'].value_counts())

print('Mission status of Martin Marietta:\n',df['Mission Status'][df['Company']=='Martin Marietta'].value_counts())

print('Mission status of US Air Force:\n',df['Mission Status'][df['Company']=='US Air Force'].value_counts())

print('Mission status of European Space Agency:\n',df['Mission Status'][df['Company']=='European Space Agency'].value_counts())

print('Mission status of Brazilian Space Agency:\n',df['Mission Status'][df['Company']=='Brazilian Space Agency'].value_counts())

print('Mission status of Arianespace:\n',df['Mission Status'][df['Company']=='Arianespace'].value_counts())

In [ ]:

df_1 = pd.DataFrame({
    'Company': ['SpaceX', 'Boeing','Martin Marietta','US Air Force Company','European Space Agency',
                'Brazilian Space Agency','Arianespace'],
    'Success': [88,32,0,0,0,0,0],
    'Failure': [8,5,1,7,2,3,4]
})
fig, ax1 = plt.subplots(figsize=(20, 10))
tidy = df_1.melt(id_vars='Company').rename(columns=str.title)
sns.barplot(x='Company', y='Value', hue='Variable', data=tidy, ax=ax1)
ax1.bar_label(ax1.containers[0])
ax1.bar_label(ax1.containers[1])
plt.ylabel('Number of Satellite launched')
plt.title('Success and Failure Count of each Company',fontsize=15)

In [ ]:
# Success and failure percentage for each company indivisual

print('Mission status of SpaceX:\n',df['Mission Status'][df['Company']=='SpaceX'].value_counts(normalize=True)*100)

print('Mission status of Boeing:\n',df['Mission Status'][df['Company']=='Boeing'].value_counts(normalize=True)*100)

print('Mission status of Martin Marietta:\n',df['Mission Status'][df['Company']=='Martin Marietta'].value_counts(normalize=True)*100)

print('Mission status of US Air Force:\n',df['Mission Status'][df['Company']=='US Air Force'].value_counts(normalize=True)*100)

print('Mission status of European Space Agency:\n',df['Mission Status'][df['Company']=='European Space Agency'].value_counts(normalize=True)*100)

print('Mission status of Brazilian Space Agency:\n',df['Mission Status'][df['Company']=='Brazilian Space Agency'].value_counts(normalize=True)*100)

print('Mission status of Arianespace:\n',df['Mission Status'][df['Company']=='Arianespace'].value_counts(normalize=True)*100)

In [ ]:
df_1 = pd.DataFrame({
    'Company': ['SpaceX', 'Boeing','Martin Marietta','US Air Force Company','European Space Agency',
                'Brazilian Space Agency','Arianespace'],
    'Success': [91.67,86.49,0,0,0,0,0],
    'Failure': [8.33,13.51,100.0,100.0,100.0,100.0,100.0]
})
fig, ax1 = plt.subplots(figsize=(20, 10))
tidy = df_1.melt(id_vars='Company').rename(columns=str.title)
sns.barplot(x='Company', y='Value', hue='Variable', data=tidy, ax=ax1)
ax1.bar_label(ax1.containers[0])
ax1.bar_label(ax1.containers[1])
plt.ylabel('Petrcentage ')
plt.title('Success and Failure percentage of each Company',fontsize=15)

In [ ]:
data =  [88,32,0,0,0,0,0]
labels = ['SpaceX', 'Boeing','Martin Marietta','US Air Force Company','European Space Agency',
                'Brazilian Space Agency','Arianespace']

#define Seaborn color palette to use
colors = sns.color_palette('pastel')[0:5]

#create pie chart
plt.figure(figsize=(10,10))
plt.pie(data, labels = labels, colors = colors, autopct='%.0f%%')
plt.title('Success Percentage based on total succcess combined',fontsize=20)

In [ ]:
data =  [8,5,1,7,2,3,4]
labels = ['SpaceX', 'Boeing','Martin Marietta','US Air Force Company','European Space Agency',
                'Brazilian Space Agency','Arianespace']

#define Seaborn color palette to use
colors = sns.color_palette('pastel')[0:5]

#create pie chart
plt.figure(figsize=(10,10))
plt.pie(data, labels = labels, colors = colors, autopct='%.0f%%')
plt.title('Failure Percentage based on total failure combined',fontsize=20)

# Logistic Regression Model:

In [ ]:
df.shape

In [ ]:
df.shape

In [ ]:
df = df.drop(['Payload Mass (kg)','Failure Reason','Payload Orbit','Payload Type','Vehicle Type','Company','Payload Name'],axis = 1)

In [ ]:
df.shape

In [ ]:
df = df.dropna()

In [ ]:
df.shape

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [ ]:
df['Mission Status'] = df['Mission Status'].map({'Failure':0, 'Success':1})

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df.drop(['Mission Status'],axis=1),
                                                   df['Mission Status'], test_size=0.3,
                                                   random_state=6)

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(x_train, y_train)

In [ ]:
predictions = logmodel.predict(x_test)

In [ ]:
accuracy = logmodel.score(x_test, y_test)
print(accuracy*100,'%')

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)